body{
    margin:0;
    padding:0;
    font-family:Arial;
    background:#FEC8D8;
}

nav{
   background:rgba(255,255,255,0.4);
    backdrop-filter:blur(12px);
    width: 100%;
    display:flex;
    justify-content:space-between;
    padding:20px;
    position:sticky;
    top:0;
}

nav h1{
    color:#ff1493;
    font-family: poppings;

}

nav ul{
    display:flex;
    gap:25px;
    list-style:none;
}

nav a{
    text-decoration:none;
    color:black;
}

nav ul :hover{
    color:#ff1493;
}

.texto h2{
    font-size: 50px;
    font-family:cinzel;
    text-align: center;
    color:#ff1493;
}

.texto p{
    margin-top:20px;
    font-size:22px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.comienzo{ 
    padding:15px 15px;
    background:white;
    border-radius:40px;
    transition:0.4s;
    display:block;
    text-align:center;
 width: 25%;
    margin: 50px auto;
}

.comienzo:hover{
    transform:scale(1.1);
     box-shadow: 0 0 60px #FF00AA;
}
 
.comienzo h1{
    font-size:50px;
    color:#ff1493;
}

.comienzo p{
    font-size:25px;
    color:black;
}

.boton{
    background-color: #ff1493;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 15px;
    display: inline-block;
    font-size: 18px;
    border: none;
    transition:0.5s;
 }

.boton:hover{
    background-color: #C26F8A;
    color: white;
      transform:scale(1.03);
}

.presentacion{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:40px;
    padding:40px;
}

.textoo{
    font-size: 30px;
    font-family:cinzel;
    text-align:center;
    color:#ff1493;    
}


.textoo p{
    font-size:25px;
    text-align:center;
    color: black;
}

.imagen-portada img{
    width:100%;
    max-width:500px;
    border-radius:25px;
    transition:0.5s;
 }

.imagen-portada :hover{
    transform:scale(1.03);
    box-shadow: 0 0 60px #FF00AA;
}
.frase{
    text-align:center;
    color:#ff1493;
}

.frase p{
    text-align: center;
    color:black;
    font-size:22px;
}

.Separado{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.popular{
    background:#FFB5C0;
    border-radius:25px;
    overflow:hidden;
    text-align:center;
    width: 50%;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    transition:0.5s;
 }

.popular:hover{
    transform:scale(1.03);
     box-shadow: 0 0 60px #FF00AA;
}

.popular img{
    width:50%;
    height:300 px;
    object-fit:contain;
}

.caja{
    background:#FFB5C0;
    border-radius:25px;
    overflow:hidden;
    text-align:center;
    width: 50%;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    transition:0.5s;
 }

.caja:hover{
    transform:scale(1.03);
     box-shadow: 0 0 60px #FF00AA;
}


.caja img{
    width:50%;
    height:300 px;
    object-fit:contain;
}

.cuadro{
    background:#F9D6D5;
    padding:50px;
    border-radius:25px;
    text-align:center;
    width: 50%;
    margin: 50px auto;
    justify-content: center;
    transition:0.5s;
}

.cuadro:hover{
    transform:scale(1.03);
     box-shadow: 0 0 60px #FF00AA;
}   

.cuadro h3{
    color:#FF1493;
    margin-bottom:15px;
}

.cuadro h4{
    color:#FF1493;
}
    
.cuadro ul{
    list-style:none;
}   

.fa-location-dot{
    color:#ff1493;
    margin-right:8px;
    font-size:30px;
}

.fa-location-dot{
    color:#ff1493;
    margin-right:8px;
    font-size:30px;
}

.fa-store{
    color:#ff1493;
    margin-right:8px;
    font-size:20px;
}

.direccion a{
    color: black;
    text-decoration: none;
    font-size: 22px;
}

.fa-clock{
    color:#ff1493;
    margin-right:8px;
    font-size:20px;
}

.fa-phone{
    color:#FF1493;
    margin-right: 8px;
    font-size: 20px;
}

.fa-whatsapp{
    color: #FF1493;
     margin-right: 8px;
    font-size: 20px;
}

.fa-envelope{
    color: #FF1493;
    margin-right: 8px;
    font-size: 20px;
}

.redes{
    display:flex;
    gap:20px;
    margin-top:15px;
}

.redes a{
    width:60px;
    height:60px;
    background:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    transition:0.4s;
}

.redes a:hover{
    transform:scale(1.1);
}

.redes .fa-instagram{
    color:#C13584;
    font-size:30px;
      justify-content:center;
    align-items:center;
}

.redes .fa-facebook-f{
    color:#1877F2;
    font-size:30px;
      justify-content:center;
    align-items:center;
}

.redes .fa-tiktok{
    color:#000;
    font-size:30px;
      justify-content:center;
    align-items:center;
}

.contacto{
    padding:80px 8%;
}

form{
    max-width:700px;
    margin:auto;
    background:white;
    padding:40px;
    border-radius:30px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

.input-group{
    margin-bottom:20px;
}

input,
textarea{
    width:100%;
    padding:15px;
    border:none;
    border-radius:15px;
    background:#f4f4f4;
    outline:none;
    transition:0.3s;
}

input:focus,
textarea:focus{
    background:#ffe4f2;
    transform:scale(1.02);
}

textarea{
    resize:none;
    height:150px;
}


footer{
    text-align:center;
    padding:25px;
    background:#E57D90;
    color:black;
}